{% extends "layout.html" %}

{% block body %}
<div class="img-container window-height">
  <img src="/static/stream.png" class="img-fluid rocks" alt="Responsive image">
</div>

<div class="p-5 mb-4 rounded-3 main-box">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">South Pacific Ministry and Fellowship</h1>
      <p class="col-md-8 fs-4">A free magazine sent to your house twice a year. <br/>No fees, no subscription.</p>
      <a href="/register" class="btn btn-primary btn-lg" type="button">Register for free</a>
    </div>
  </div>
  <div class="square window-height"></div>  


{% endblock %}